/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generici */

body {
    background-color: hsl(30, 38%, 92%);
    
}

main {
    height: 100vh;

}

/* utili */

.line-height {
    line-height: 1.5;
}

.font-size {
    font-size: 14px;
}

/* container */

.container {
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    
    figure{
        .mobile-img {
        max-width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        }

        .desktop-img {
            display: none;
        }

    }

    /* card body */

    .card-body{
        padding: 1.5em;

        /* tag */
        
        h3,
        p{
            font-family: "Montserrat", serif;
            font-weight: normal;
            color: hsl(228, 12%, 48%);
            margin: 0.5em 0;
            text-align: left;
        }

        /* title */

        h1{
            font-family: "Fraunces", serif;
        }

        /* prices */

        .prices{
            margin: 1em 0 0.5em 0;

            .green {
                font-family: "Fraunces", serif;
                font-size: 2em;
                font-weight: bold;
                color: hsl(158, 36%, 37%);        
            }

            .line-through {
                text-decoration: line-through;
                color: hsl(228, 12%, 48%);
                margin-left: 1em;
            }
        }

        /* button */

        button {
            padding: 1em 0;
            width: 100%;
            border-radius: 10px;
            border: none;
            background-color: hsl(158, 36%, 37%);
            color: hsl(0, 0%, 100%);

            i {
                vertical-align: middle;
            }

            span{
                margin-left: 1em;
                font-family: "Montserrat", serif;
            }
        }


    }


}

/* responsive */

@media screen and (min-width: 576px) {
    .container {
        max-width: 450px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 550px;
        margin: 0 auto;

        .card {
            display: flex;
            
            .card-body{

                flex-basis: 50%;
            }

            figure {

                flex-basis: 50%;

                .mobile-img {
                    display: none;
                }

                .desktop-img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    border-radius: 10px 0 0 10px;
                }
                
            }
        }
    }
}