/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generici */

body {
    background-color: hsl(30, 38%, 92%);

}

main {
    height: 100vh;

}

/* container */

.container {
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    figure{
        max-width: 100%;
        background-image: url(../images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;
        border-radius: 10px;
    }
}