/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generici */

body {
    background-color: hsl(30, 38%, 92%);

}

main {
    height: 100vh;

}

/* container */

.container {
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    
    figure{
        max-width: 100%;
        background-image: url(../images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;
        border-radius: 10px 10px 0 0;
    }

    /* card body */

    .card-body{
        padding: 1em;
        
        .tag,
        p{
            font-family: "Montserrat", serif;
            font-weight: normal;
            color: hsl(228, 12%, 48%);
            margin: 0.5em 0;
        }

        h1{
            font-family: "Fraunces", serif;
        }

        .prices{
            margin: 1em 0 0.5em 0;

            .green {
                font-family: "Fraunces", serif;
                font-size: 2em;
                font-weight: bold;
                color: hsl(158, 36%, 37%);        
            }

            .line-through {
                text-decoration: line-through;
                color: hsl(228, 12%, 48%);
                margin-left: 1em;
            }
        }
    }


}